h1 {
  font-family: sans-serif;
  text-align: center;
  color: #534b4b;
}
p {
  font-family: sans-serif;
  text-align: center;
  color: #534b4b;
}
a {
  color: #a7014e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#todays-challenge {
  color: #aa6053;
  font-weight: bold;
  font-size: 52px;
}
