body {
  background-color: #e9d7cf;
  text-align: center;
  color: #534b4b;
}

h1 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Fira Sans", sans-serif;
}

a {
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
  color: #a7014e;
}

a:hover {
  text-decoration: underline;
}
